<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New Purchase</title>
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <style >
        .cont{
            width: 350px;
            padding: 10px 0px 15px 25px;
        }
        .inddiv{
            padding: 15px 0px 0px 0px;
        }
        h1{
            padding-left: 15px;
        }
    </style>
</head>
<body>
<h1>Add A New Purchase</h1><br>
<div class="cont">
        <form th:action="@{/savePurchase}" th:object="${purchase}" method="post">
            <div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>
            <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>

            <select name="supplierList" id="selSupplier" class="form-control mb-4 col-4" th:field="*{supplier.id}">
                <!--option value="supplierChoice" disabled selected>Select a Supplier</option-->
                <option th:each="supplier : ${suppliersOption}" th:value="${supplier.id}"
                        th:text="${supplier.name}"></option>
            </select>

            <div class="inddiv">
                <select name="productList" id="selProduct" class="form-control mb-4 col-4" th:field="*{product.id}">

                    <option th:each="product : ${productOption}" th:value="${product.id}"
                            th:text="${product.name}"></option>
                </select>
            </div>

            <div class="inddiv">
                <input type="text" th:field="*{itemCount}" placeholder="Enter quantity purchased" required="required"
                       class="form-control mb-4 col-4">
            </div>

            <div class="inddiv">
                <div class='input-group date' id='datetimepicker'>
                    <input type='text' th:field="*{purchaseDate}" class="form-control mb-4 col-4" placeholder="Select purchase date" required="required"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="inddiv">
                <button type="submit" name="save" id="saveproduct" class="btn btn-primary btn-sm mb-3">Save</button>
                <a th:href="@{/purchases}" class="btn btn-primary btn-sm mb-3">Purchases</a>
            </div>
        </form>
</div>
<script type="text/javascript">
        $(function() {
            $('#datetimepicker').datetimepicker();
        });


</script>
</body>
</html>