<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Shopify Inventory System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container my-2">
    <h1>Shopify Inventory Management System (v1.0.0)</h1>
    <a th:href = "@{/}" class="btn btn-primary btn-sm mb-3">Inventory</a>
    <a th:href = "@{/purchases}" class="btn btn-primary btn-sm mb-3">Purchases</a>
    <a th:href = "@{/orders}" class="btn btn-primary btn-sm mb-3">Orders</a>
    <a th:href="@{/suppliers}" class="btn btn-primary btn-sm mb-3">Suppliers</a>
    <div><br /><br /></div>
    <a th:href = "@{/addnewpurchase}" class="btn btn-primary btn-sm mb-3">Add New Purchase</a>
    <table border="1" class="table table-striped table-responsive-md">
    <thead>
    <tr>
        <th>Product Supplier</th>
        <th>Product Name</th>
        <th>Item Count</th>
        <th>Purchase Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="purchase : ${purchaselist}">
        <td th:text="${purchase.supplier.name}"></td>
        <td th:text="${purchase.product.name}"></td>
        <td th:text="${purchase.itemCount}"></td>
        <td th:text="${purchase.purchaseDate}"></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>